.home {
	display: flex;
	margin-left: 0px;
	margin-right: 0px;

	.homecontainer {
		flex: 4;
		// justify-content: space-between;
		// width: 50%;
		padding-left: 0px;
		padding-right: 0px;

		.widgets,
		.chart {
			display: flex;
			padding: 20px;
			gap: 20px;
		}

		.chart {
			padding: 50px 20px;
		}
		.listContainer {
			-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
			box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
			padding: 20px;
			margin: 20px;

			.listTitle {
				font-weight: 500;
				color: gray;
				margin-bottom: 15px;
			}
		}
	}
}
