$main_color: #c9ad67b0;

.login-container {
	height: 100vh;

	overflow-x: hidden;
	background-image: url("https://radioalgerie.dz/news/sites/default/files/field/image/STATION.jpeg");
	background-size: cover;
	background: linear-gradient(
		to right bottom,
		rgba(236, 236, 236, 0.7),
		rgba(236, 236, 236, 0.4)
	);

	/*************************************/
	border-radius: 1rem;
	margin: 2rem auto;
	box-shadow: 0.5rem 0.5rem 2rem -0.5rem rgb(91, 89, 89);
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-side,
.right-side {
	margin: 2rem;
	height: 80%;
	width: 100%;
}
.right-side {
	box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.left-side {
	background-image: url("https://radioalgerie.dz/news/sites/default/files/field/image/STATION.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}
.buttontexte {
	font-size: small;
}
