.table {
  justify-content: center;
    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Active {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.A_renouvlé{
        color: rgb(78, 57, 3);
        background-color: rgb(253, 196, 90);
      }
      &.Expiré{
        color: rgb(151, 25, 3);
        background-color: rgb(252, 80, 80);
      }
    }
  }